.main-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.card{
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 0%, 50%, 0.563);
  padding: 1rem;
  border-radius: .5rem;
}
.card .addreplay{
  color: rgb(127, 2, 251);
  cursor: pointer;
}

.input-wrapper{
  padding: 0.5rem;
}